img {
    max-width: 100%;
    display: block;
}
  
@media (max-width: 800px) {
    figure {
        float: none;
        text-align: center;
        margin-left: 0;
    }
  
    figure img {
        margin: 0 auto;
    }
}
