@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'image';
@import 'blockquotes';
@import 'code';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';


body {
    background-color: $background-color;
    font-family: $font-stack;
}

* {
    color: $font-color;
}
